.header-heading h1 {
    font-size: 45px !important;
    line-height: 72px;
    font-weight: 700;
    margin-bottom: 30px;
}

.invalid-feedback {
    margin-bottom: 0.5rem;
}

html {
    scroll-behavior: smooth;
}

.skills-img {
    max-height: 150px;
}

.btn-round- {
    width: 48px;
    height: 48px;
    text-align: left;
    line-height: 48px;
    padding: 0;
    padding-left: 10px;
    margin-right: 8px;
    position: relative;
    display: inline-block;
}

.btn-round-.trngl:after {
    position: absolute;
    right: 2px;
    top: 50%;
}